#card {
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    height: 410px;
    margin: 6rem auto 9rem auto;
    width: 310px;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 13px;
    letter-spacing: 5px;
    font-family: sans-serif;
}
body {
    background: -webkit-linear-gradient(bottom, #20b2aa, #008080 );
    background-repeat: no-repeat;
}
.content {
    background: #f5f5f5;
    border: none;
    outline: none;
    padding-top: 30px;
    margin: 0px;
}
.border {
    background: black;
    height: 1.1px;
    width: 50%;
    margin-left: 105px;
}
.save {
    font-size: 10pt;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 20px;
    color: #b22222;
}
.bottom {
    font-size: 9pt;
    letter-spacing: 1px;
}
#satu {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #3cb371;
}
#dua {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #b22222;
}
