#card {
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    height: 410px;
    margin: 6rem auto 9rem auto;
    width: 310px;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 13px;
    letter-spacing: 5px;
    font-family: sans-serif;
}
body {
    background: -webkit-linear-gradient(bottom, #20b2aa, #008080 );
    background-repeat: no-repeat;
}
#nama {
    margin-left: 15px;
}
#alamat {
    margin-left: 15px;
}
#email {
    margin-left: 15px;
}
#status {
    margin-left: 15px;
}
#komentar {
    margin-left: 15px;
}
.box {
    width: 140px;
}
form {
    text-align: left;
    padding-left: 10px;
}
.sub {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #3cb371;
}
.res {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #b22222;
}
.del {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #b22222;
}
.edit {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #3cb371;
}