body {
    background: #20b2aa ;
}
.header {
    text-align: center;
    font-family: sans-serif;
}
.content {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
}
#card {
    background: #f5f5f5;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    height: 230px;
    margin: 6rem auto 9rem auto;
    margin-top: 60px;
    width: 400px;
    text-align: center;
    padding-top: 11px;
    font-family: sans-serif;
}
.input {
    letter-spacing: 1px;
}
.check {
    background: #f5f5f5;
}
.kirim {
    border: 1px solid #0000;
    border-radius: 3px;
    padding: 3px 10px;
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.4);
    color:#ffff;
    background-color: #3cb371;
}