.wrap{
	background: #8FBC8F	;
	width: 1150px;
	margin: 10px auto;
}
.wrap .header{
	background: #8FBC8F	;
	padding: 2px 10px;
}
.wrap .menu{
	background:#D3D3D3;
}
.tombol {
    color: #ffff;
    background-color: #66CDAA;

}
.tombol:hover {
	background-color: #0fe98e;
	color: black;
}
.clear{
	clear: both;
}
 
.badan{
	height: 400px;
}
.wrap .badan .sidebar{
	background: #E0FFFF;
	float: left;	
	width: 25%;
    height: 100%;
}
.wrap .badan .content{
	background: #f5f5f5;
	float: left;
	height: 100%;
    width: 75%;	
    font-family: sans-serif;
}
 
.wrap .footer{
	background: #bdb8ad;
	width: 99%;
	padding: 5px;
    font-family: sans-serif;
    text-align: center;
}